*{
    padding: 0;
    margin: 0;
}

body{
  height: 100vh; 
}

/*Explicando cada propriedade:

display: flex; - isso define o elemento "tudodentro" como um container flexível.
justify-content: center; - isso centraliza os itens horizontalmente dentro do container flexível.
align-items: center; - isso centraliza os itens verticalmente dentro do container flexível.
height: 100vh; - isso define a altura do container para ocupar 100% da altura da janela (viewport height).
Com essas propriedades aplicadas à classe "tudodentro", o conteúdo será centralizado tanto verticalmente quanto horizontalmente na página. */
.tudodentro {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    font-size: 50px;

}

h1{
    text-align: center;
    font-family: 'Digital Numbers', sans-serif;
    color:orangered;
    margin: 20px;

}
.calculadora{
    width: 400px;
    height: 540px;
    border: 2px solid rgb(172, 169, 169);
    border-radius: 1px 2px  2px 2px;
       
}

#conteudo{
    background-color: black;
    color: yellow;
    font-family: 'Digital Numbers', sans-serif;
    height: 90px;
    margin: auto;                         
}

.botoes{
    padding: 0;
    text-align: center;
    background-color:red;
}

button{
    border: none;
    height:90px;
    width: 99px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

button:hover{
    background-color:  rgb(148, 148, 148);
}

@media screen and (max-width: 480px) {
    body{
        height: 100vh; 
      }

   .tudodentro {
        display: flex;
        justify-content: center;
        /*align-items: center;*/
    
      
    }
      
    h1{
        text-align: center;
        font-family: 'Digital Numbers', sans-serif;
        color: rgb(255, 8, 0);
        margin: 5px;
        font-size: 30px;
      
    }
    .calculadora{
        width: 300px;
        height: 600px;
        border: 2px solid rgb(172, 169, 169);
        border-radius: 1px 2px  2px 2px;
        background-color: rgb(83, 35, 0);
             
    }
      
    #conteudo{
        background-color: black;
        color: yellow;
        font-family: 'Digital Numbers', sans-serif;
        height: 55px;
        font-size: 30px;
        margin: 2px;                        
    }
      
    button:hover{
        background-color:  rgb(148, 148, 148);
    }

    img {
        width: 10px;
    }
}
  
footer{
    margin-top: 30px;
    text-align: center;
}

img {
    width:50px;
}

  
